All Flow.json
[{"id":"a03b504e.b28da","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c5d7b938.59cb98","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a3e1eedc.e5627","type":"ui_tab","z":"","name":"Alert","icon":"dashboard","disabled":false,"hidden":false},{"id":"c62f1f40.6cc8","type":"ui_group","z":"","name":"Analog","tab":"a3e1eedc.e5627","order":2,"disp":true,"width":6,"collapse":false},{"id":"ac8feb92.d5c1c8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#e4434d","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#e4434d","edited":true},"page-titlebar-backgroundColor":{"value":"#e4434d","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#ee868c","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#e4434d","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9edec5e9.5d29b8","type":"ui_group","z":"","name":"Temperature","tab":"a3e1eedc.e5627","order":1,"disp":true,"width":"6","collapse":false},{"id":"30d39e05.d47f42","type":"mqtt-broker","z":"","name":"","broker":"soldier.cloudmqtt.com","port":"11498","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4c2d2bc4.f42114","type":"MySQLdatabase","z":"","host":"database-1.cyhuv0nnthsl.us-west-2.rds.amazonaws.com","port":"3306","db":"database-1","tz":""},{"id":"9ee10bc4.a01fc8","type":"tls-config","z":"","name":"zxc","cert":"","key":"","ca":"","certname":"6f59ca360e-certificate.pem.crt","keyname":"6f59ca360e-private.pem.key","caname":"rootCA.pem","servername":"","verifyservercert":true},{"id":"57145f0c.59183","type":"mqtt-broker","z":"","name":"","broker":"afnoa4suis2if-ats.iot.us-west-2.amazonaws.com","port":"8883","tls":"9ee10bc4.a01fc8","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"22d1e5d7.26d9fa","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"iot","tz":""},{"id":"1cbf72d3.d9264d","type":"postgresDB","z":"","name":"hqjocokp","host":"horton.elephantsql.com","port":"5432","database":"hqjocokp","ssl":false,"max":"10","min":1,"idle":"1000"},{"id":"59a02e2f.97dad","type":"nexmobasic","z":""},{"id":"a0bca74c.b17888","type":"python-function","z":"c5d7b938.59cb98","name":"Turn LED on | Python","func":"from envirophat import leds\nimport time\ntry:\n    leds.on()\n    time.sleep(0.1)\n    leds.off()\nexcept:\n    return msg\n    \n\nreturn msg","outputs":1,"x":300,"y":340,"wires":[[]]},{"id":"7362a594.75c53c","type":"python-function","z":"c5d7b938.59cb98","name":"Turn LED off | Python","func":"from envirophat import leds\nleds.off()\n\nreturn msg","outputs":1,"x":300,"y":440,"wires":[[]]},{"id":"21303de6.bb7d52","type":"inject","z":"c5d7b938.59cb98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":440,"wires":[["7362a594.75c53c"]]},{"id":"5d7ca61e.feb1e8","type":"inject","z":"c5d7b938.59cb98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":340,"wires":[["a0bca74c.b17888"]]},{"id":"8c93b572.190338","type":"python-function","z":"c5d7b938.59cb98","name":"weather","func":"from envirophat import weather\ntry:\n    msg['payload'] = str(round(weather.temperature()))\nexcept:\n    pass\nreturn msg","outputs":1,"x":260,"y":560,"wires":[["51d2d696.53f7b8"]]},{"id":"c6eaf446.c2f8d8","type":"inject","z":"c5d7b938.59cb98","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":520,"wires":[["8c93b572.190338"]]},{"id":"1b5465c4.0b700a","type":"inject","z":"c5d7b938.59cb98","name":"Get the room temp for every hour","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":860,"wires":[["72b0c866.de0538"]]},{"id":"72b0c866.de0538","type":"python-function","z":"c5d7b938.59cb98","name":"weather","func":"from envirophat import weather\ntry:\n    temp = str(round(weather.temperature()))\n    msg['topic'] = str(\"INSERT INTO weather (weather, date) VALUES ('%s',curdate())\" % temp )\nexcept:\n    print('fail')\nreturn msg","outputs":1,"x":180,"y":920,"wires":[["cf95c862.fb1818"]]},{"id":"f576f997.6d7ca8","type":"switch","z":"c5d7b938.59cb98","name":"Send if there fire","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":1420,"wires":[["b7d3c48f.2abc38","21949408.cab17c","e3df3ebc.0db6d"]]},{"id":"b7d3c48f.2abc38","type":"sendsms","z":"c5d7b938.59cb98","creds":"59a02e2f.97dad","to":"61423795821","fr":"Nexmo","text":"There is a fire near your raspberry, please be careful","unicode":true,"x":410,"y":1500,"wires":[[]]},{"id":"cf95c862.fb1818","type":"mysql","z":"c5d7b938.59cb98","mydb":"22d1e5d7.26d9fa","name":"","x":190,"y":980,"wires":[[]]},{"id":"b255e4cd.1e8b68","type":"ui_template","z":"c5d7b938.59cb98","group":"9edec5e9.5d29b8","name":"Display the average data","order":3,"width":"6","height":"1","format":"<div>The average temperature of this week: {{msg.payload[0].AverageTemp}}</div>\n<div ng-if=\"msg.payload[0].AverageTemp > 30\">Temperature is pretty hot this week, please be careful with fire</div>\n<div ng-if=\"msg.payload[0].AverageTemp < 25\">It might be cold</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":490,"y":1120,"wires":[[]]},{"id":"16e0245a.70bb8c","type":"inject","z":"c5d7b938.59cb98","name":"Get the average room temp","topic":"SELECT AVG(weather) AS AverageTemp FROM weather WHERE yearweek(DATE(date), 1) = yearweek(curdate(), 1)","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1120,"wires":[["ebcee8cd.0995f8"]]},{"id":"ebcee8cd.0995f8","type":"mysql","z":"c5d7b938.59cb98","mydb":"22d1e5d7.26d9fa","name":"Store the daily room temp","x":130,"y":1180,"wires":[["b255e4cd.1e8b68","818ee9c3.b29778"]]},{"id":"818ee9c3.b29778","type":"function","z":"c5d7b938.59cb98","name":"Convert","func":"let data = msg.payload[0].AverageTemp;\n\n    msg.payload = data\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":360,"y":1200,"wires":[["bf50056f.74b3c8"]]},{"id":"bf50056f.74b3c8","type":"ui_gauge","z":"c5d7b938.59cb98","name":"Average Tempature","group":"9edec5e9.5d29b8","order":5,"width":0,"height":0,"gtype":"gage","title":"Average Tempature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"60","x":530,"y":1180,"wires":[]},{"id":"a8a46090.26f8b","type":"inject","z":"c5d7b938.59cb98","name":"","topic":"SELECT * FROM weather","payload":"","payloadType":"date","repeat":"0.4","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1300,"wires":[["ea559bc.c9bf768"]]},{"id":"4dede8d7.33f5b8","type":"ui_form","z":"c5d7b938.59cb98","name":"","label":"Subscribe to get notification","group":"9edec5e9.5d29b8","order":6,"width":0,"height":0,"options":[{"label":"Email","value":"email","type":"email","required":true},{"label":"Phone","value":"phone","type":"number","required":true}],"formValue":{"email":"","phone":""},"payload":"","submit":"Submit","cancel":"cancel","topic":"","x":120,"y":1580,"wires":[["9a6f8d91.e6553"]]},{"id":"ea559bc.c9bf768","type":"python-function","z":"c5d7b938.59cb98","name":"weather","func":"from envirophat import weather, light\ntry:\n    temp = int(round(weather.temperature()))\n    r, g, b = light.rgb()\n    red_data = str(r)\n    # if we detect there is more red light\n    if temp > 50:\n        #there is a fire\n        msg['topic'] = \"INSERT INTO fireEvent (created_at) VALUES (curdate())\"\n        msg['payload'] = True\n    else:\n        msg['payload'] = False\nexcept:\n    print('fail')\nreturn msg","outputs":1,"x":260,"y":1360,"wires":[["13e3b452.b804fc","f576f997.6d7ca8"]]},{"id":"51d2d696.53f7b8","type":"ui_chart","z":"c5d7b938.59cb98","name":"","group":"9edec5e9.5d29b8","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":430,"y":580,"wires":[[]]},{"id":"9a6f8d91.e6553","type":"function","z":"c5d7b938.59cb98","name":"insert user","func":"const email = msg.payload.email;\nconst phone = msg.payload.phone;\nconst query = `INSERT INTO user VALUES ('${email}', '${phone}')`\nmsg.topic = query\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":1580,"wires":[["916e77cd.88a558"]]},{"id":"6b617636.bb1298","type":"ui_toast","z":"c5d7b938.59cb98","position":"dialog","displayTime":"5","highlight":"Hello","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"HEllo","name":"","x":310,"y":1680,"wires":[[]]},{"id":"87460085.00ddb","type":"inject","z":"c5d7b938.59cb98","name":"","topic":"helo","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1640,"wires":[["6b617636.bb1298"]]},{"id":"916e77cd.88a558","type":"mysql","z":"c5d7b938.59cb98","mydb":"22d1e5d7.26d9fa","name":"Store the stakeholders","x":690,"y":1580,"wires":[[]]},{"id":"aff71532.7c2f98","type":"http request","z":"c5d7b938.59cb98","name":"Input the API","method":"GET","ret":"txt","paytoqs":false,"url":"https://api.darksky.net/forecast/e19f2ff8673f36044ae40ac79a5760ee/-33.8686,151.2094","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":100,"wires":[["1bc13713.f80b99"]]},{"id":"6462cf11.d753a","type":"inject","z":"c5d7b938.59cb98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":0.1,"x":150,"y":40,"wires":[["aff71532.7c2f98"]]},{"id":"1bc13713.f80b99","type":"function","z":"c5d7b938.59cb98","name":"INPUT TO DATABASE","func":"let data = JSON.parse(msg.payload)\nlet currentData = data.currently\nlet currentTemp = currentData.temperature;\nlet humidity = currentData.humidity\nlet hourlyPredict = data.hourly.summary\nlet dailyPredict = data.daily.summary\nlet sql = `INSERT INTO weatherAPI (weather, humidity,created_at, predict_daily, predict_hourly)  VALUES (${currentTemp}, ${humidity}, curdate(), '${dailyPredict}', '${hourlyPredict}') `;\nmsg.topic = sql\nmsg.payload = humidity\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":160,"wires":[["d230a84b.1b2428"]]},{"id":"d230a84b.1b2428","type":"mysql","z":"c5d7b938.59cb98","mydb":"22d1e5d7.26d9fa","name":"","x":350,"y":20,"wires":[[]]},{"id":"6527b68e.946ba8","type":"inject","z":"c5d7b938.59cb98","name":"Get the Data from API","topic":"SELECT * FROM `weatherAPI` WHERE `predict_daily` is not null ORDER BY created_at DESC limit 1","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":750,"y":160,"wires":[["ecf1b866.e8d418"]]},{"id":"ecf1b866.e8d418","type":"mysql","z":"c5d7b938.59cb98","mydb":"22d1e5d7.26d9fa","name":"","x":740,"y":240,"wires":[["219cbe65.f9df52"]]},{"id":"219cbe65.f9df52","type":"function","z":"c5d7b938.59cb98","name":"","func":"let data = msg.payload[0]\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":320,"wires":[["f9f1e60d.a89ce8"]]},{"id":"f9f1e60d.a89ce8","type":"ui_template","z":"c5d7b938.59cb98","group":"9edec5e9.5d29b8","name":"","order":4,"width":"6","height":"2","format":"<div ng-bind-html=\"msg.payload.predict_hourly\"></div>\n<div ng-bind-html=\"msg.payload.predict_daily\"></div>\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":740,"y":380,"wires":[[]]},{"id":"21949408.cab17c","type":"mysql","z":"c5d7b938.59cb98","mydb":"22d1e5d7.26d9fa","name":"Store the fire event","x":590,"y":1460,"wires":[[]]},{"id":"aa54abbb.f52ae8","type":"inject","z":"c5d7b938.59cb98","name":"Reminder to change battery","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 12 * * 0","once":false,"onceDelay":0.1,"x":190,"y":1740,"wires":[["fb730de1.c7c98"]]},{"id":"fb730de1.c7c98","type":"sendsms","z":"c5d7b938.59cb98","creds":"59a02e2f.97dad","to":"61423795821","fr":"Nexmo","text":"Remind to change the battery for raspberry pi","unicode":false,"x":450,"y":1760,"wires":[[]]},{"id":"e3df3ebc.0db6d","type":"python-function","z":"c5d7b938.59cb98","name":"Ring the buzzer","func":"    #Libraries\nimport RPi.GPIO as GPIO\nfrom time import sleep\ntry:\n    if msg['payload'] == True:\n        GPIO.setwarnings(False)\n        GPIO.setmode(GPIO.BCM)\n        buzzer=21\n        GPIO.setup(buzzer,GPIO.OUT)\n    \n    #Run forever loop\n    \n        GPIO.output(buzzer,GPIO.HIGH)\n    \n        sleep(0.1) # Delay in seconds\n        GPIO.output(buzzer,GPIO.LOW)\n        sleep(0.1) # Delay in seconds\n\n\nexcept:\n    pass\nreturn msg","outputs":1,"x":680,"y":1380,"wires":[[]]},{"id":"33610187.d1a43e","type":"inject","z":"c5d7b938.59cb98","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":700,"wires":[["29603731.a47258"]]},{"id":"3b4fd84f.c276f8","type":"ui_gauge","z":"c5d7b938.59cb98","name":"Motion Data","group":"9edec5e9.5d29b8","order":5,"width":0,"height":0,"gtype":"compass","title":"Light Sensor","label":"units","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":700,"wires":[]},{"id":"29603731.a47258","type":"python-function","z":"c5d7b938.59cb98","name":"Red Light Data","func":"from envirophat import light\ntry:\n    #r, g, b = light..light()()\n    msg['payload'] = light.light()\nexcept:\n    pass\nreturn msg","outputs":1,"x":280,"y":680,"wires":[["3b4fd84f.c276f8","1e984920.a849a7"]]},{"id":"13e3b452.b804fc","type":"python-function","z":"c5d7b938.59cb98","name":"Light Notification when there fire","func":"from envirophat import leds\nimport time\ntry:\n    if msg['payload'] == True:\n        leds.on()\n        time.sleep(0.1)\n        leds.off()\nexcept:\n    return msg\n    \n\nreturn msg","outputs":1,"x":570,"y":1320,"wires":[[]]},{"id":"4cf984e.b91967c","type":"inject","z":"c5d7b938.59cb98","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.4","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1840,"wires":[[]]},{"id":"155973ac.eb109c","type":"python-function","z":"c5d7b938.59cb98","name":"","func":"import sys\nimport Adafruit_DHT\ntry:\n    humidity, temperature = Adafruit_DHT.read_retry(11, 20)\n    msg['payload'] = humidity\nexcept:\n    pass\n\nreturn msg\n\n\n\n","outputs":1,"x":290,"y":1880,"wires":[["110898f0.fb0247"]]},{"id":"110898f0.fb0247","type":"debug","z":"c5d7b938.59cb98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":480,"y":1860,"wires":[]},{"id":"c61d134e.45d9","type":"inject","z":"c5d7b938.59cb98","name":"Display room temp","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":660,"y":480,"wires":[["89b0ce09.e2e"]]},{"id":"89b0ce09.e2e","type":"python-function","z":"c5d7b938.59cb98","name":"","func":"from envirophat import weather\ntry:\n    msg['payload'] = str(round(weather.temperature()))\nexcept:\n    pass\nreturn msg","outputs":1,"x":660,"y":580,"wires":[["90d543df.0cdc"]]},{"id":"90d543df.0cdc","type":"ui_gauge","z":"c5d7b938.59cb98","name":"","group":"9edec5e9.5d29b8","order":6,"width":0,"height":0,"gtype":"gage","title":"Room Temp","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"70","x":720,"y":660,"wires":[]},{"id":"1e984920.a849a7","type":"debug","z":"c5d7b938.59cb98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":460,"y":760,"wires":[]}]