Final.json
[{"id":"f8db57e9.5a2d28","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6c00fce.a25ac04","type":"python-function","z":"f8db57e9.5a2d28","name":"Turn LED on | Python","func":"from envirophat import leds\nimport time\ntry:\n    leds.on()\n    time.sleep(0.1)\n    leds.off()\nexcept:\n    return msg\n    \n\nreturn msg","outputs":1,"x":300,"y":340,"wires":[[]]},{"id":"1b5165cb.79345a","type":"python-function","z":"f8db57e9.5a2d28","name":"Turn LED off | Python","func":"from envirophat import leds\nleds.off()\n\nreturn msg","outputs":1,"x":300,"y":400,"wires":[[]]},{"id":"cbaef5ac.b373c8","type":"inject","z":"f8db57e9.5a2d28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":400,"wires":[["1b5165cb.79345a"]]},{"id":"23f33fe6.f59c5","type":"inject","z":"f8db57e9.5a2d28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":340,"wires":[["6c00fce.a25ac04"]]},{"id":"fcd49429.157fe8","type":"python-function","z":"f8db57e9.5a2d28","name":"weather","func":"from envirophat import weather\ntry:\n    msg['payload'] = str(round(weather.temperature()))\nexcept:\n    pass\nreturn msg","outputs":1,"x":160,"y":580,"wires":[["8e1aec2f.a6b3c"]]},{"id":"1398239a.6c37cc","type":"inject","z":"f8db57e9.5a2d28","name":"Display the temp to the Chart dashboard","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":210,"y":520,"wires":[["fcd49429.157fe8"]]},{"id":"5d278d65.797354","type":"inject","z":"f8db57e9.5a2d28","name":"Get the room temp for every hour","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":860,"wires":[["a0a27fdc.9b4a5"]]},{"id":"a0a27fdc.9b4a5","type":"python-function","z":"f8db57e9.5a2d28","name":"weather","func":"from envirophat import weather\ntry:\n    temp = str(round(weather.temperature()))\n    msg['topic'] = str(\"INSERT INTO weather (weather, date) VALUES ('%s',curdate())\" % temp )\nexcept:\n    print('fail')\nreturn msg","outputs":1,"x":180,"y":920,"wires":[["88b52a62.030368"]]},{"id":"e6aeac36.6f921","type":"switch","z":"f8db57e9.5a2d28","name":"Send if there fire","property":"data","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":1400,"wires":[["5ede0632.470fb8","53a10c5.9f9dff4","42033da4.a10024"]]},{"id":"5ede0632.470fb8","type":"sendsms","z":"f8db57e9.5a2d28","creds":"59a02e2f.97dad","to":"61423795821","fr":"Nexmo","text":"There is a fire near your raspberry, please be careful","unicode":true,"x":410,"y":1500,"wires":[[]]},{"id":"88b52a62.030368","type":"mysql","z":"f8db57e9.5a2d28","mydb":"22d1e5d7.26d9fa","name":"","x":190,"y":980,"wires":[[]]},{"id":"7163994e.a05878","type":"ui_template","z":"f8db57e9.5a2d28","group":"9edec5e9.5d29b8","name":"Display the average data","order":3,"width":"6","height":"2","format":"<div>The average temperature of this week: {{msg.payload[0].AverageTemp}}</div>\n<div ng-if=\"msg.payload[0].AverageTemp > 30\">Temperature is pretty hot this week, please be careful with fire</div>\n<div ng-if=\"msg.payload[0].AverageTemp < 29\">It might be cold</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":490,"y":1120,"wires":[[]]},{"id":"b5c64898.6b4838","type":"inject","z":"f8db57e9.5a2d28","name":"Get the average room temp","topic":"SELECT AVG(weather) AS AverageTemp FROM weather WHERE yearweek(DATE(date), 1) = yearweek(curdate(), 1)","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1120,"wires":[["e6fc996.8684a68"]]},{"id":"e6fc996.8684a68","type":"mysql","z":"f8db57e9.5a2d28","mydb":"22d1e5d7.26d9fa","name":"Store the daily room temp","x":130,"y":1180,"wires":[["7163994e.a05878","a9d82e25.3a0dc"]]},{"id":"a9d82e25.3a0dc","type":"function","z":"f8db57e9.5a2d28","name":"Convert","func":"let data = msg.payload[0].AverageTemp;\n\nmsg.payload = Math.round(data)\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":360,"y":1200,"wires":[["1fe4a971.8655b7"]]},{"id":"1fe4a971.8655b7","type":"ui_gauge","z":"f8db57e9.5a2d28","name":"Average Tempature","group":"9edec5e9.5d29b8","order":5,"width":0,"height":0,"gtype":"gage","title":"Average Tempature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"60","x":530,"y":1180,"wires":[]},{"id":"5aaaf5d9.d1a82c","type":"inject","z":"f8db57e9.5a2d28","name":"The main node to checking the fire event","topic":"SELECT * FROM `humidity` order by created_at DESC limit 1","payload":"","payloadType":"date","repeat":"0.7","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1280,"wires":[["b93a9ca0.4ce26"]]},{"id":"45699201.0a6e9c","type":"ui_form","z":"f8db57e9.5a2d28","name":"","label":"Subscribe to get notification node","group":"9edec5e9.5d29b8","order":6,"width":0,"height":0,"options":[{"label":"Email","value":"email","type":"email","required":true},{"label":"Phone","value":"phone","type":"number","required":true}],"formValue":{"email":"","phone":""},"payload":"","submit":"Submit","cancel":"cancel","topic":"","x":200,"y":1580,"wires":[["f49dab4c.e7d9c8"]]},{"id":"dce95586.7791f8","type":"python-function","z":"f8db57e9.5a2d28","name":"Checking Fire","func":"from envirophat import weather, light\ntry:\n    humidity = msg['payload']\n    temp = int(round(weather.temperature()))\n    pressure = round(int(weather.pressure()))\n    # get the right light data\n    r, g, b = light.rgb()\n    # if we detect if there is more red light, temp is high and humidity is high and pressure is low\n    if temp > 70 or r > 200 or humidity > 90 or pressure < 101340:\n        #there is a fire\n        msg['topic'] = \"INSERT INTO fireEvent (created_at) VALUES (curdate())\"\n        msg['payload'] = True\n    else:\n        msg['payload'] = False\nexcept:\n    msg['payload'] = \"Error\"\nreturn msg","outputs":1,"x":320,"y":1340,"wires":[["7972b21c.a10a2c","e6aeac36.6f921","75000419.f2916c"]]},{"id":"8e1aec2f.a6b3c","type":"ui_chart","z":"f8db57e9.5a2d28","name":"","group":"9edec5e9.5d29b8","order":2,"width":0,"height":0,"label":"Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":310,"y":580,"wires":[[]]},{"id":"f49dab4c.e7d9c8","type":"function","z":"f8db57e9.5a2d28","name":"insert user","func":"const email = msg.payload.email;\nconst phone = msg.payload.phone;\nconst query = `INSERT INTO user VALUES ('${email}', '${phone}')`\nmsg.topic = query\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":1580,"wires":[["1e7914ca.de648b"]]},{"id":"1e7914ca.de648b","type":"mysql","z":"f8db57e9.5a2d28","mydb":"22d1e5d7.26d9fa","name":"Store the stakeholders","x":690,"y":1580,"wires":[[]]},{"id":"70da0135.0cbd8","type":"http request","z":"f8db57e9.5a2d28","name":"Input the API","method":"GET","ret":"txt","paytoqs":false,"url":"https://api.darksky.net/forecast/e19f2ff8673f36044ae40ac79a5760ee/-33.8686,151.2094","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":100,"wires":[["b44960db.91841"]]},{"id":"a931eb8f.7c6088","type":"inject","z":"f8db57e9.5a2d28","name":"Get the data from API","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":0.1,"x":130,"y":40,"wires":[["70da0135.0cbd8"]]},{"id":"b44960db.91841","type":"function","z":"f8db57e9.5a2d28","name":"INPUT TO DATABASE","func":"let data = JSON.parse(msg.payload)\nlet currentData = data.currently\nlet currentTemp = currentData.temperature;\nlet humidity = currentData.humidity\nlet hourlyPredict = data.hourly.summary\nlet dailyPredict = data.daily.summary\nlet sql = `INSERT INTO weatherAPI (weather, humidity,created_at, predict_daily, predict_hourly)  VALUES (${currentTemp}, ${humidity}, curdate(), '${dailyPredict}', '${hourlyPredict}') `;\nmsg.topic = sql\nmsg.payload = humidity\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":160,"wires":[["9400f713.5ce4a8"]]},{"id":"9400f713.5ce4a8","type":"mysql","z":"f8db57e9.5a2d28","mydb":"22d1e5d7.26d9fa","name":"","x":390,"y":80,"wires":[[]]},{"id":"8faabf60.36c66","type":"inject","z":"f8db57e9.5a2d28","name":"Get the Data from API","topic":"SELECT * FROM `weatherAPI` WHERE `predict_daily` is not null ORDER BY created_at DESC limit 1","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":750,"y":160,"wires":[["6c4df6f0.6318a8"]]},{"id":"6c4df6f0.6318a8","type":"mysql","z":"f8db57e9.5a2d28","mydb":"22d1e5d7.26d9fa","name":"","x":740,"y":240,"wires":[["50509b68.1ef5d4"]]},{"id":"50509b68.1ef5d4","type":"function","z":"f8db57e9.5a2d28","name":"Insert to payload","func":"let data = msg.payload[0]\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":320,"wires":[["3738d417.14162c"]]},{"id":"3738d417.14162c","type":"ui_template","z":"f8db57e9.5a2d28","group":"9edec5e9.5d29b8","name":"","order":4,"width":"6","height":"2","format":"<div ng-bind-html=\"msg.payload.predict_hourly\"></div>\n<div ng-bind-html=\"msg.payload.predict_daily\"></div>\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":740,"y":380,"wires":[[]]},{"id":"53a10c5.9f9dff4","type":"mysql","z":"f8db57e9.5a2d28","mydb":"22d1e5d7.26d9fa","name":"Store the fire event","x":590,"y":1460,"wires":[[]]},{"id":"4acb20f2.492f2","type":"inject","z":"f8db57e9.5a2d28","name":"This node is to remind the user to change the batter every week and send to SMS to the user","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 12 * * 0","once":false,"onceDelay":0.1,"x":390,"y":1740,"wires":[["d939d52d.b84c08"]]},{"id":"d939d52d.b84c08","type":"sendsms","z":"f8db57e9.5a2d28","creds":"59a02e2f.97dad","to":"61423795821","fr":"Nexmo","text":"Remind to change the battery for raspberry pi","unicode":false,"x":310,"y":1800,"wires":[[]]},{"id":"42033da4.a10024","type":"python-function","z":"f8db57e9.5a2d28","name":"Ring the buzzer","func":"    #Libraries\nimport RPi.GPIO as GPIO\nfrom time import sleep\ntry:\n    if msg['payload'] == True:\n        GPIO.setwarnings(False)\n        GPIO.setmode(GPIO.BCM)\n        buzzer=21\n        GPIO.setup(buzzer,GPIO.OUT)\n    \n    #Run forever loop\n    \n        GPIO.output(buzzer,GPIO.HIGH)\n    \n        sleep(0.1) # Delay in seconds\n        GPIO.output(buzzer,GPIO.LOW)\n        sleep(0.1) # Delay in seconds\n\n\nexcept:\n    pass\nreturn msg","outputs":1,"x":680,"y":1380,"wires":[[]]},{"id":"15fa811e.6a4daf","type":"inject","z":"f8db57e9.5a2d28","name":"Display the Red Light on the Dashboard","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":740,"wires":[["bf14c4c5.4b9b68"]]},{"id":"c86b733f.5d5d8","type":"ui_gauge","z":"f8db57e9.5a2d28","name":"Light Data","group":"9edec5e9.5d29b8","order":5,"width":0,"height":0,"gtype":"compass","title":"Light Sensor","label":"units","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":700,"wires":[]},{"id":"bf14c4c5.4b9b68","type":"python-function","z":"f8db57e9.5a2d28","name":"Red Light Data","func":"from envirophat import light\ntry:\n    r, g, b = light.rgb()\n    msg['payload'] = \"203\"\nexcept:\n    pass\nreturn msg","outputs":1,"x":280,"y":680,"wires":[["c86b733f.5d5d8","51508113.ee1bd"]]},{"id":"7972b21c.a10a2c","type":"python-function","z":"f8db57e9.5a2d28","name":"Light Notification when there fire","func":"from envirophat import leds\nimport time\ntry:\n    if msg['payload'] == True:\n        leds.on()\n        time.sleep(0.1)\n        leds.off()\nexcept:\n    return msg\n    \n\nreturn msg","outputs":1,"x":650,"y":1300,"wires":[[]]},{"id":"a0f158cd.8da918","type":"inject","z":"f8db57e9.5a2d28","name":"This node will store the humidity data into the database","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1860,"wires":[["10c46828.b941f8"]]},{"id":"f7ee105c.e33eb","type":"debug","z":"f8db57e9.5a2d28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":1880,"wires":[]},{"id":"1a45329b.9a5e3d","type":"inject","z":"f8db57e9.5a2d28","name":"Display room temp","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":660,"y":480,"wires":[["8abeb0ce.a10b"]]},{"id":"8abeb0ce.a10b","type":"python-function","z":"f8db57e9.5a2d28","name":"","func":"from envirophat import weather\ntry:\n    msg['payload'] = str(round(weather.temperature()))\nexcept:\n    pass\nreturn msg","outputs":1,"x":660,"y":580,"wires":[["5271eb85.c1d124"]]},{"id":"5271eb85.c1d124","type":"ui_gauge","z":"f8db57e9.5a2d28","name":"","group":"9edec5e9.5d29b8","order":6,"width":0,"height":0,"gtype":"gage","title":"Room Temp","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"70","x":720,"y":660,"wires":[]},{"id":"51508113.ee1bd","type":"debug","z":"f8db57e9.5a2d28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":760,"wires":[]},{"id":"10c46828.b941f8","type":"python-function","z":"f8db57e9.5a2d28","name":"INSERT the humidity into the database","func":"#!/usr/bin/python\nimport sys\nimport Adafruit_DHT\nhumidity, temperature = Adafruit_DHT.read_retry(11, 20)\nmsg['topic'] = \"INSERT INTO humidity (data, created_at) VALUES ('%s',curdate())\" % humidity \nmsg['payload'] = humidity\nreturn msg","outputs":1,"x":250,"y":1940,"wires":[["f7ee105c.e33eb","e5aa4f48.97631"]]},{"id":"e5aa4f48.97631","type":"mysql","z":"f8db57e9.5a2d28","mydb":"22d1e5d7.26d9fa","name":"Humidity","x":560,"y":1960,"wires":[[]]},{"id":"c93a9f4.ef5476","type":"exec","z":"f8db57e9.5a2d28","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":240,"y":2120,"wires":[[],[],[]]},{"id":"b93a9ca0.4ce26","type":"mysql","z":"f8db57e9.5a2d28","mydb":"22d1e5d7.26d9fa","name":"","x":100,"y":1340,"wires":[["c0896cea.7f7d1"]]},{"id":"c0896cea.7f7d1","type":"python-function","z":"f8db57e9.5a2d28","name":"Get humidity data","func":"humidity = float(msg['payload'][0]['data'])\n\n\nmsg['payload'] = humidity\n    \nreturn msg","outputs":1,"x":140,"y":1400,"wires":[["dce95586.7791f8","bc2b5375.cd74d"]]},{"id":"75000419.f2916c","type":"debug","z":"f8db57e9.5a2d28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":1240,"wires":[]},{"id":"2ec9302f.d3d92","type":"inject","z":"f8db57e9.5a2d28","name":"Display the pressure data","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":600,"y":900,"wires":[["c44181e2.b7ba8"]]},{"id":"c44181e2.b7ba8","type":"python-function","z":"f8db57e9.5a2d28","name":"Convert to data","func":"from envirophat import weather\ntry:\n    msg['payload'] = round(int(weather.pressure()))\nexcept:\n    pass\nreturn msg","outputs":1,"x":840,"y":880,"wires":[["61078def.3cf514"]]},{"id":"61078def.3cf514","type":"ui_gauge","z":"f8db57e9.5a2d28","name":"","group":"9edec5e9.5d29b8","order":21,"width":0,"height":0,"gtype":"donut","title":"Pressure Data","label":"","format":"{{value}}","min":"100000","max":"150000","colors":["#c30000","#e6e600","#00be00"],"seg1":"101345","seg2":"101360","x":790,"y":1020,"wires":[]},{"id":"1282b43b.a3613c","type":"debug","z":"f8db57e9.5a2d28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":260,"wires":[]},{"id":"bc2b5375.cd74d","type":"ui_gauge","z":"f8db57e9.5a2d28","name":"","group":"9edec5e9.5d29b8","order":8,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"90","seg2":"100","x":190,"y":1480,"wires":[]},{"id":"59a02e2f.97dad","type":"nexmobasic","z":""},{"id":"22d1e5d7.26d9fa","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"iot","tz":""},{"id":"9edec5e9.5d29b8","type":"ui_group","z":"","name":"Temperature","tab":"a3e1eedc.e5627","order":1,"disp":true,"width":"6","collapse":false},{"id":"a3e1eedc.e5627","type":"ui_tab","z":"","name":"Alert","icon":"dashboard","disabled":false,"hidden":false}]