Single Flow.json
[{"id":"2a7cb316.6b901c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9b94b07e.cac1e","type":"python-function","z":"2a7cb316.6b901c","name":"Turn LED on | Python","func":"from envirophat import leds\nimport time\ntry:\n    leds.on()\n    time.sleep(0.1)\n    leds.off()\nexcept:\n    return msg\n    \n\nreturn msg","outputs":1,"x":300,"y":340,"wires":[[]]},{"id":"dc5ccedb.8ccdf","type":"python-function","z":"2a7cb316.6b901c","name":"Turn LED off | Python","func":"from envirophat import leds\nleds.off()\n\nreturn msg","outputs":1,"x":300,"y":400,"wires":[[]]},{"id":"c366e709.9a0e08","type":"inject","z":"2a7cb316.6b901c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":400,"wires":[["dc5ccedb.8ccdf"]]},{"id":"21168a7d.384176","type":"inject","z":"2a7cb316.6b901c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":340,"wires":[["9b94b07e.cac1e"]]},{"id":"f081ca25.f32af8","type":"python-function","z":"2a7cb316.6b901c","name":"weather","func":"from envirophat import weather\ntry:\n    msg['payload'] = str(round(weather.temperature()))\nexcept:\n    pass\nreturn msg","outputs":1,"x":160,"y":580,"wires":[["6cf47903.a75298"]]},{"id":"d491800a.38bfc","type":"inject","z":"2a7cb316.6b901c","name":"Display the temp to the Chart dashboard","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":210,"y":520,"wires":[["f081ca25.f32af8"]]},{"id":"1346926f.9a4e5e","type":"inject","z":"2a7cb316.6b901c","name":"Get the room temp for every hour","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":860,"wires":[["c4fb7256.06634"]]},{"id":"c4fb7256.06634","type":"python-function","z":"2a7cb316.6b901c","name":"weather","func":"from envirophat import weather\ntry:\n    temp = str(round(weather.temperature()))\n    msg['topic'] = str(\"INSERT INTO weather (weather, date) VALUES ('%s',curdate())\" % temp )\nexcept:\n    print('fail')\nreturn msg","outputs":1,"x":180,"y":920,"wires":[["139671b2.71784e"]]},{"id":"2a8df95d.c382d6","type":"switch","z":"2a7cb316.6b901c","name":"Send if there fire","property":"data","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":1400,"wires":[["e1d96a1f.7d52d8","71b23c8.907dbc4","34c78ec5.4106f2"]]},{"id":"e1d96a1f.7d52d8","type":"sendsms","z":"2a7cb316.6b901c","creds":"59a02e2f.97dad","to":"61423795821","fr":"Nexmo","text":"There is a fire near your raspberry, please be careful","unicode":true,"x":410,"y":1500,"wires":[[]]},{"id":"139671b2.71784e","type":"mysql","z":"2a7cb316.6b901c","mydb":"22d1e5d7.26d9fa","name":"","x":190,"y":980,"wires":[[]]},{"id":"bd805e9f.e0f7c","type":"ui_template","z":"2a7cb316.6b901c","group":"9edec5e9.5d29b8","name":"Display the average data","order":3,"width":"6","height":"2","format":"<div>The average temperature of this week: {{msg.payload[0].AverageTemp}}</div>\n<div ng-if=\"msg.payload[0].AverageTemp > 30\">Temperature is pretty hot this week, please be careful with fire</div>\n<div ng-if=\"msg.payload[0].AverageTemp < 29\">It might be cold</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":490,"y":1120,"wires":[[]]},{"id":"b3344a3a.913018","type":"inject","z":"2a7cb316.6b901c","name":"Get the average room temp","topic":"SELECT AVG(weather) AS AverageTemp FROM weather WHERE yearweek(DATE(date), 1) = yearweek(curdate(), 1)","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1120,"wires":[["364a2072.c61d2"]]},{"id":"364a2072.c61d2","type":"mysql","z":"2a7cb316.6b901c","mydb":"22d1e5d7.26d9fa","name":"Store the daily room temp","x":130,"y":1180,"wires":[["bd805e9f.e0f7c","1050932b.4d270d"]]},{"id":"1050932b.4d270d","type":"function","z":"2a7cb316.6b901c","name":"Convert","func":"let data = msg.payload[0].AverageTemp;\n\nmsg.payload = Math.round(data)\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":360,"y":1200,"wires":[["59aeef00.0eee6"]]},{"id":"59aeef00.0eee6","type":"ui_gauge","z":"2a7cb316.6b901c","name":"Average Tempature","group":"9edec5e9.5d29b8","order":5,"width":0,"height":0,"gtype":"gage","title":"Average Tempature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"60","x":530,"y":1180,"wires":[]},{"id":"91f7e82.b92ff18","type":"inject","z":"2a7cb316.6b901c","name":"The main node to checking the fire event","topic":"SELECT * FROM `humidity` order by created_at DESC limit 1","payload":"","payloadType":"date","repeat":"0.7","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1280,"wires":[["20ab1ec.3987fe2"]]},{"id":"a48877e8.cf1718","type":"ui_form","z":"2a7cb316.6b901c","name":"","label":"Subscribe to get notification node","group":"9edec5e9.5d29b8","order":6,"width":0,"height":0,"options":[{"label":"Email","value":"email","type":"email","required":true},{"label":"Phone","value":"phone","type":"number","required":true}],"formValue":{"email":"","phone":""},"payload":"","submit":"Submit","cancel":"cancel","topic":"","x":200,"y":1580,"wires":[["45204cc0.ffd8d4"]]},{"id":"49f65bc9.781224","type":"python-function","z":"2a7cb316.6b901c","name":"Checking Fire","func":"from envirophat import weather, light\ntry:\n    humidity = msg['payload']\n    temp = int(round(weather.temperature()))\n    # get the right light data\n    r, g, b = light.rgb()\n    # if we detect there is more red light\n    if temp > 70 or r > 200 or humidity > 90:\n        #there is a fire\n        msg['topic'] = \"INSERT INTO fireEvent (created_at) VALUES (curdate())\"\n        msg['payload'] = True\n    else:\n        msg['payload'] = False\nexcept:\n    msg['payload'] = \"Error\"\nreturn msg","outputs":1,"x":320,"y":1340,"wires":[["9c6802be.83bfe","2a8df95d.c382d6","850ee5b7.c74918"]]},{"id":"6cf47903.a75298","type":"ui_chart","z":"2a7cb316.6b901c","name":"","group":"9edec5e9.5d29b8","order":2,"width":0,"height":0,"label":"Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":310,"y":580,"wires":[[]]},{"id":"45204cc0.ffd8d4","type":"function","z":"2a7cb316.6b901c","name":"insert user","func":"const email = msg.payload.email;\nconst phone = msg.payload.phone;\nconst query = `INSERT INTO user VALUES ('${email}', '${phone}')`\nmsg.topic = query\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":1580,"wires":[["8f5e688f.5921f8"]]},{"id":"8f5e688f.5921f8","type":"mysql","z":"2a7cb316.6b901c","mydb":"22d1e5d7.26d9fa","name":"Store the stakeholders","x":690,"y":1580,"wires":[[]]},{"id":"d3917cc7.58e16","type":"http request","z":"2a7cb316.6b901c","name":"Input the API","method":"GET","ret":"txt","paytoqs":false,"url":"https://api.darksky.net/forecast/e19f2ff8673f36044ae40ac79a5760ee/-33.8686,151.2094","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":100,"wires":[["6e6ccfb0.121ec"]]},{"id":"6a3daa6e.7ae334","type":"inject","z":"2a7cb316.6b901c","name":"Get the data from API","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":0.1,"x":130,"y":40,"wires":[["d3917cc7.58e16"]]},{"id":"6e6ccfb0.121ec","type":"function","z":"2a7cb316.6b901c","name":"INPUT TO DATABASE","func":"let data = JSON.parse(msg.payload)\nlet currentData = data.currently\nlet currentTemp = currentData.temperature;\nlet humidity = currentData.humidity\nlet hourlyPredict = data.hourly.summary\nlet dailyPredict = data.daily.summary\nlet sql = `INSERT INTO weatherAPI (weather, humidity,created_at, predict_daily, predict_hourly)  VALUES (${currentTemp}, ${humidity}, curdate(), '${dailyPredict}', '${hourlyPredict}') `;\nmsg.topic = sql\nmsg.payload = humidity\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":160,"wires":[["f0ce57e9.4d91d8"]]},{"id":"f0ce57e9.4d91d8","type":"mysql","z":"2a7cb316.6b901c","mydb":"22d1e5d7.26d9fa","name":"","x":390,"y":80,"wires":[[]]},{"id":"e1e762fe.a9844","type":"inject","z":"2a7cb316.6b901c","name":"Get the Data from API","topic":"SELECT * FROM `weatherAPI` WHERE `predict_daily` is not null ORDER BY created_at DESC limit 1","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":750,"y":160,"wires":[["6fa63afd.ae6844"]]},{"id":"6fa63afd.ae6844","type":"mysql","z":"2a7cb316.6b901c","mydb":"22d1e5d7.26d9fa","name":"","x":740,"y":240,"wires":[["ea1764c8.c2e078"]]},{"id":"ea1764c8.c2e078","type":"function","z":"2a7cb316.6b901c","name":"Insert to payload","func":"let data = msg.payload[0]\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":320,"wires":[["ec7f917.df0387"]]},{"id":"ec7f917.df0387","type":"ui_template","z":"2a7cb316.6b901c","group":"9edec5e9.5d29b8","name":"","order":4,"width":"6","height":"2","format":"<div ng-bind-html=\"msg.payload.predict_hourly\"></div>\n<div ng-bind-html=\"msg.payload.predict_daily\"></div>\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":740,"y":380,"wires":[[]]},{"id":"71b23c8.907dbc4","type":"mysql","z":"2a7cb316.6b901c","mydb":"22d1e5d7.26d9fa","name":"Store the fire event","x":590,"y":1460,"wires":[[]]},{"id":"291edc42.5ae614","type":"inject","z":"2a7cb316.6b901c","name":"This node is to remind the user to change the batter every week and send to SMS to the user","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 12 * * 0","once":false,"onceDelay":0.1,"x":390,"y":1740,"wires":[["7fe39ea4.4d08b"]]},{"id":"7fe39ea4.4d08b","type":"sendsms","z":"2a7cb316.6b901c","creds":"59a02e2f.97dad","to":"61423795821","fr":"Nexmo","text":"Remind to change the battery for raspberry pi","unicode":false,"x":310,"y":1800,"wires":[[]]},{"id":"34c78ec5.4106f2","type":"python-function","z":"2a7cb316.6b901c","name":"Ring the buzzer","func":"    #Libraries\nimport RPi.GPIO as GPIO\nfrom time import sleep\ntry:\n    if msg['payload'] == True:\n        GPIO.setwarnings(False)\n        GPIO.setmode(GPIO.BCM)\n        buzzer=21\n        GPIO.setup(buzzer,GPIO.OUT)\n    \n    #Run forever loop\n    \n        GPIO.output(buzzer,GPIO.HIGH)\n    \n        sleep(0.1) # Delay in seconds\n        GPIO.output(buzzer,GPIO.LOW)\n        sleep(0.1) # Delay in seconds\n\n\nexcept:\n    pass\nreturn msg","outputs":1,"x":680,"y":1380,"wires":[[]]},{"id":"fc632b6e.91d9f8","type":"inject","z":"2a7cb316.6b901c","name":"Display the Red Light on the Dashboard","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":740,"wires":[["46385c7e.f09614"]]},{"id":"85402c9c.449a8","type":"ui_gauge","z":"2a7cb316.6b901c","name":"Light Data","group":"9edec5e9.5d29b8","order":5,"width":0,"height":0,"gtype":"compass","title":"Light Sensor","label":"units","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":700,"wires":[]},{"id":"46385c7e.f09614","type":"python-function","z":"2a7cb316.6b901c","name":"Red Light Data","func":"from envirophat import light\ntry:\n    r, g, b = light.rgb()\n    msg['payload'] = r\nexcept:\n    pass\nreturn msg","outputs":1,"x":280,"y":680,"wires":[["85402c9c.449a8","68b3b24e.a1d56c"]]},{"id":"9c6802be.83bfe","type":"python-function","z":"2a7cb316.6b901c","name":"Light Notification when there fire","func":"from envirophat import leds\nimport time\ntry:\n    if msg['payload'] == True:\n        leds.on()\n        time.sleep(0.1)\n        leds.off()\nexcept:\n    return msg\n    \n\nreturn msg","outputs":1,"x":650,"y":1300,"wires":[[]]},{"id":"926bf490.e522b8","type":"inject","z":"2a7cb316.6b901c","name":"This node will store the humidity data into the database","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1860,"wires":[["a9796c4f.7e9c9"]]},{"id":"31f386a7.1141aa","type":"debug","z":"2a7cb316.6b901c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":1880,"wires":[]},{"id":"2c9b01dc.75e14e","type":"inject","z":"2a7cb316.6b901c","name":"Display room temp","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":660,"y":480,"wires":[["ea357dee.d1b2d"]]},{"id":"ea357dee.d1b2d","type":"python-function","z":"2a7cb316.6b901c","name":"","func":"from envirophat import weather\ntry:\n    msg['payload'] = str(round(weather.temperature()))\nexcept:\n    pass\nreturn msg","outputs":1,"x":660,"y":580,"wires":[["a583acc6.b5e38"]]},{"id":"a583acc6.b5e38","type":"ui_gauge","z":"2a7cb316.6b901c","name":"","group":"9edec5e9.5d29b8","order":6,"width":0,"height":0,"gtype":"gage","title":"Room Temp","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"70","x":720,"y":660,"wires":[]},{"id":"68b3b24e.a1d56c","type":"debug","z":"2a7cb316.6b901c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":760,"wires":[]},{"id":"a9796c4f.7e9c9","type":"python-function","z":"2a7cb316.6b901c","name":"INSERT the humidity into the database","func":"#!/usr/bin/python\nimport sys\nimport Adafruit_DHT\nhumidity, temperature = Adafruit_DHT.read_retry(11, 20)\nmsg['topic'] = \"INSERT INTO humidity (data, created_at) VALUES ('%s',curdate())\" % humidity \nmsg['payload'] = humidity\nreturn msg","outputs":1,"x":250,"y":1940,"wires":[["31f386a7.1141aa","4efdeeaa.d139c"]]},{"id":"4efdeeaa.d139c","type":"mysql","z":"2a7cb316.6b901c","mydb":"22d1e5d7.26d9fa","name":"Humidity","x":560,"y":1960,"wires":[[]]},{"id":"9523053.2340af8","type":"exec","z":"2a7cb316.6b901c","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":240,"y":2120,"wires":[[],[],[]]},{"id":"20ab1ec.3987fe2","type":"mysql","z":"2a7cb316.6b901c","mydb":"22d1e5d7.26d9fa","name":"","x":100,"y":1340,"wires":[["19265fe.247d1a"]]},{"id":"19265fe.247d1a","type":"python-function","z":"2a7cb316.6b901c","name":"Get humidity data","func":"humidity = float(msg['payload'][0]['data'])\n\n\nmsg['payload'] = humidity\n    \nreturn msg","outputs":1,"x":140,"y":1400,"wires":[["49f65bc9.781224"]]},{"id":"850ee5b7.c74918","type":"debug","z":"2a7cb316.6b901c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":1240,"wires":[]},{"id":"59a02e2f.97dad","type":"nexmobasic","z":""},{"id":"22d1e5d7.26d9fa","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"iot","tz":""},{"id":"9edec5e9.5d29b8","type":"ui_group","z":"","name":"Temperature","tab":"a3e1eedc.e5627","order":1,"disp":true,"width":"6","collapse":false},{"id":"a3e1eedc.e5627","type":"ui_tab","z":"","name":"Alert","icon":"dashboard","disabled":false,"hidden":false}]